.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: red;
}

.main {
    width: 40%;
    background-color: dodgerblue;
}

.gui {
    width: 60%;
    background-color: lightgray;
}
