body{
    background-color: #333333;
}

.wrapper {
    display: flex;
}

.canvas {
    background-color: #bbbbbb;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    outline-width: 4px;
    outline-color: red;
}

text {
    fill: #fff;
    font-size: 4rem;
    font-family: sans-serif;
}
